@model DataAccess.Entities.Semester

@{
    ViewData["Title"] = "Xóa Học kỳ";
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Xóa Học kỳ</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger">Bạn có chắc chắn muốn xóa học kỳ này không?</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class = "col-sm-2">
                    Tên Học kỳ
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.SemesterName)
                </dd>
                <dt class = "col-sm-2">
                    Mã Học kỳ
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.SemesterCode)
                </dd>
                <dt class = "col-sm-2">
                    Ngày Bắt đầu
                </dt>
                <dd class = "col-sm-10">
                    @Model.StartDate.ToShortDateString()
                </dd>
                <dt class = "col-sm-2">
                    Ngày Kết thúc
                </dt>
                <dd class = "col-sm-10">
                     @Model.EndDate.ToShortDateString()
                </dd>
            </dl>
            
            <form asp-action="Delete">
                <input type="hidden" asp-for="SemesterId" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Hủy bỏ</a>
            </form>
        </div>
    </div>
</div>
